*{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  text-decoration: none;
}

form, textarea, input{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-transform: lowercase;
  color: #58555D;
}

input, textarea{
  max-width: 493px;
  border: 1px solid #686868;
  border-radius: 7px;
}


header{
  background-color: #2E948A;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 103px 20px 82px;
}

ul{
  word-spacing: 42px;
}

h1{
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 69px;
color: #FF4081;
}

h2{
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 50px;

  color: #009688;
}

h3{
  font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
text-align: center;
color: #FF4081;
}

p{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

nav a{
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FDFDFD;

}

footer{
  background-color: #2E948A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 53px 137px 52px 128px;
}

footer a{
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  text-decoration: none;
}

footer ul{
  margin-right: 200px;
  padding: 0;
}

.display-flex{
  display: flex;
  }

.cards{
  display: flex;
  justify-content: space-between;
}

.container{
  max-width: 1183px;
  margin: 0 auto;
}

.hero-section{
  display: flex;
  justify-content: space-evenly;
  margin: 125px 0 66px 0;
}

.hero-content h2{
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
  color: #555555;
  margin: 19px 0 38px 0;
}

.hero-content a{
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
  color: #FF4081;
  padding: 10px 26px 16px 26px;
  border: 2px solid #FF4081;
  border-radius: 62px;

}

.main-cards{
  background-color: #F6F6F6;
}

.card{
  text-align: center;
  padding: 109px 0 119px 0;
}

.card h3{
  margin: 45px 0 23px 0;
}

.card p{
  margin-bottom: 41px;
}

.pink-btn{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  background: #FF4081;
  border-radius: 62px;
  color: #FFFFFF;
  padding: 15px 50px;
}

.green-btn{
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background: #419488;
  border-radius: 62px;
  padding: 14px 48px;
}

.about-cards{
  margin-bottom: 155px;
}

.about-cards h2{
  margin: 119px 0 103px 0;
}

.card-line{
  margin-bottom: 87px;
}

.align-itens{
  align-items: center;
}

.about{
  align-items: center;
  justify-content: space-between;
  max-width: 1087px;

}

.about img{
  margin-right: 23px;
}

.about p{
  text-align: left;
}

.dif-wight{
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
}

.bottom-content{
  background-color: #F6F6F6;
}

.bottom-content h2{
  text-transform: uppercase;
  padding-top: 92px;
  margin-bottom: 73px;
}

.bottom-content a{
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
color: #FF4081;
border: 2px solid #FF4081;
border-radius: 62px;
padding: 14px 41px;
display: inline-block
}

.bottom-link{
text-align: center;
padding-bottom: 53px;
}

.content-cards{
  display: flex;
  justify-content: space-between;
}



.content-card{
  margin-bottom: 101px;
}

.content-card h3{
font-weight: 700;
font-size: 27px;
line-height: 31px;
color: #009688;
margin-top: 20px;
}

.content-card h3, p{
  text-align: left;
}

.cursos{
  margin-bottom: 202px;
}

.cursos-title h4 {
  color: #555555;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.cursos-title{
  margin: 95px 0 95px 10vw;
}

.curso{
  display: flex;
  justify-content: space-between;
}

.curso h3{
  text-align: left;
  margin-bottom: 37px;
}

.curso p{
  margin-bottom: 69px;
}

.gray-border{
  margin: 68px 0 93px 0;
  padding: 107px 0 93px 0;
  border-top: 5px solid #C4C4C4;
  border-bottom: 5px solid #C4C4C4;;
}

.aula.gray-border{
  margin: 73px 0 75px 0;
  padding: 75px 0 73px 0;
}

.curso-page{
  display: flex;
  justify-content: space-evenly;
  margin-top: 93px;
}

.curso-page p{
  max-width: 420px;
  text-align: left;
  margin-top: 22px;
}

.curso-page img{
  margin-bottom: 81px;
}

.aulas{
  padding: 75px 0;
  background-color:  #F7F7F7;
}

.aula{
  display: flex;
  justify-content: space-evenly;
}

.aula h3{
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  color: #FF4081;
  text-align: left;
  margin-bottom: 26px;
}

.aula p{
  max-width: 500px;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
}

.btn-footer{
  border: 2px solid #FFFFFF;
  border-radius: 62px;
  padding: 14px 79px;
  text-align: center;
  margin-bottom: 13px;
}

.btn-footer2{
  border: 2px solid #FFFFFF;
  border-radius: 62px;
  padding: 14px 79px;
  text-align: center;
}

.contato{
  padding: 105px 0 101px 0;
}

.contato h2{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #FF4081;
  text-transform: none;
  margin-bottom: 44px;

}

#text{
  min-height: 193px;
  min-width: 493px;
  resize: none;
  padding-top: 15px;
  padding-left: 31px;
  border-radius: 7px;
  outline: none;
  margin-bottom: 15px;

}

#nome{
  min-height: 32px;
  min-width: 493px;
  padding-left: 31px;
  border-radius: 7px;

}

#email{
  min-height: 32px;
  min-width: 493px;
  margin: 15px 0 14px 0;
  padding-left: 31px;
  border-radius: 7px;
}

#button-form{
font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
text-align: center;
text-transform: lowercase;
color: #FFFFFF;
background-color: #FF4081;
border: none;
padding: 5px 30px;
border-radius: 50px;
margin-top: 16.4px;
cursor: pointer;
}
