*{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  text-decoration: none;
}



header{
  background-color: #2E948A;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 103px 20px 82px;
}

ul{
  word-spacing: 42px;
}

h1{
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 69px;
color: #FF4081;
}

nav a{
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FDFDFD;

}

footer{
  background-color: #2E948A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 53px 137px 52px 128px;
}

footer a{
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  text-decoration: none;
}

footer ul{
  margin-right: 200px;
  padding: 0;
}

.flex{
  display: flex;

}

.container{
  max-width: 1183px;
  margin: 0 auto;
}

.hero-section{
  display: flex;
  justify-content: space-evenly;
  margin: 125px 0 66px 0;
}

.hero-content h2{
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
  color: #555555;
  margin: 19px 0 38px 0;
}

.hero-content a{
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
  color: #FF4081;
  padding: 10px 26px 16px 26px;
  border: 2px solid #FF4081;
  border-radius: 62px;

}

.btn-footer{
  border: 2px solid #FFFFFF;
  border-radius: 62px;
  padding: 14px 79px;
  text-align: center;
  margin-bottom: 13px;
}

.btn-footer2{
  border: 2px solid #FFFFFF;
  border-radius: 62px;
  padding: 14px 79px;
  text-align: center;
}
